@charset "utf-8";

/* HEADER */
#header {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 175px;
	background-color: #eee;
}
#header h1 {
	text-align: center;
	font-size: 36pt;
	color: black;
}
#header p {
	text-align: center;
	font-size: 14pt;
	color: black;
}
#header body {
	background-color: #cca;
}
#contactForm {
	width: 400px;
	height: 150px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	top: 250px;
	left: -400px;
	background-color: rgb(50,50,50);
	background-color: rgba(50,50,50,.99);
	margin: 0px;
	z-index: 110;
}
#contact span {
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 2px;
}
#contact {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	position: absolute;
	top: 300px;
	left: -42px;
	border-radius: 10px;
	background-color: rgb(177,148,108);
	background-color: rgba(177,148,108,.75);
	width: 90px;
	height: 25px;
	margin: 0px;
	z-index: 100;
}
#contact:hover, #contact:focus {
	background-color: rgb(177,148,108);
	background-color: rgba(177,148,108,.90);
	cursor: pointer;
}
#contact.fixed, #contactForm.fixed {
	position: fixed;
}
.rotate {
	-moz-transform: rotate(-90deg);    /* Firefox*/
	-webkit-transform: rotate(-90deg); /* Chrome, Safari */
	-ms-transform: rotate(-90deg);     /* Microsoft */
	-o-transform: rotate(-90deg);      /* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}
#dropdown {
	position: absolute;
	top: -150px;
	left: 100px;
	height: 90px;
	background-color: #ffffff;
	padding: 20px;
	border: 1px solid #000000;
	z-index: 75;
}
#dropdown.fixed {
	position: fixed;
}

/* SLIDING GALLERY */
#page {
	width: 100%;
	margin: 0 auto;
}
#main-content {
	width: 100%;
}
.container {
	display: block;
	width: 650px;
	height: 350px;
	margin: 200px auto 80px auto;
	position: relative;
	background: #888888 no-repeat center;
	box-shadow: 0px 5px 10px 10px lightgray;
}
.image_wrapper {
	width: 650px;
	height: 350px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.image_wrapper img {
	position: absolute;
	left: 10px;
	top: 10px;
}
.prev, .next {
	width: 30px;
	height: 59px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	cursor: pointer;
	opacity: 0.5;
}
.prev {
	background: transparent url("../images/prev.png") no-repeat top center;
	left: 20px;
}
.next {
	background: transparent url("../images/next.png") no-repeat top center;
	right: 20px;
}
.prev:hover, .next:hover {
	opacity: 0.9;
}
ul.nav {
	list-style: none;
	padding: 0;
	width: 140px;
	margin: 20px auto;
	position: relative;
}
ul.nav li {
	float: left;
}
ul.nav li a {
	display: block;
	text-indent: -9000px;
	width: 13px;
	height: 13px;
	outline: none;
	padding: 0px 3px;
	background: transparent url("../images/dot2.png") no-repeat top center;
}
ul.nav li a:hover, ul.nav li.selected a {
	background-position: 50% -13px;
}
ul.nav li.preview {
	display: none;
	width: 85px;
	height: 91px;
	top: -95px;
	left: -34.5px;
	position: absolute;
}
ul.nav li.preview span {
	background: transparent url("../images/triangle.png") no-repeat top center;
	width: 15px;
	height: 6px;
	position: absolute;
	top: 85px;
	left: 35px;
}
.preview_wrapper {
	width: 75px;
	height: 75px;
	border: 5px solid #fff;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 5px #999;
}
.preview_wrapper img {
	position: absolute;
	top: 0px;
	left: 0px;
}
a#button {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14pt;
	position: absolute;
	top: 410px;
	left: 295px;
	background-color: #AFAFAF;
	padding: 9px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #999;
}
#slidingPic2 {
	left: 660px;
}
#slidingPic3 {
	left: 1310px;
}
#slidingPic4 {
	left: 1960px;
}
#slidingPic5 {
	left: 2610px;
}
#slidingPic6 {
	left: 3260px;
}
li.prevNav{}


/* HOVER GALLERY */

div {
	width: 250px;
	height: 250px;
	border: none;
	text-align: center;
	background-color: none;
}
div#wrapper {
	position: absolute;
	top: 50px;
	left: 300px;
	width: 870px;
	height: 600px;
}
p1 {
	position: absolute;
	top: 340px;
	left: 410px;
	font-size: 14pt;
}
p2 {
	position: absolute;
	top: 340px;
	left: 710px;
	font-size: 14pt;
}
p3 {
	position: absolute;
	top: 340px;
	left: 970px;
	font-size: 14pt;
}
p4 {
	position: absolute;
	top: 625px;
	left: 420px;
	font-size: 14pt;
}
p5 {
	position: absolute;
	top: 625px;
	left: 700px;
	font-size: 14pt;
}
p6 {
	position: absolute;
	top: 625px;
	left: 990px;
	font-size: 14pt;
}

/* GALLERY 1 */

div#th1 {
	position: absolute;
	top: 30px;
	left: 30px;
	background: url("../images/house1/livingroom1.jpeg") no-repeat center;
}
div#th2 {
	position: absolute;
	top: 30px;
	left: 310px;
	background: url("../images/house1/kitchen1.jpeg") no-repeat center;
}
div#th3 {
	position: absolute;
	top: 30px;
	left: 590px;
	background: url("../images/house1/conservatory1.jpeg") no-repeat center;
}
div#th4 {
	position: absolute;
	top: 320px;
	left: 30px;
	background: url("../images/house1/bedroom1.jpeg") no-repeat center;
}
div#th5 {
	position: absolute;
	top: 320px;
	left: 310px;
	background: url("../images/house1/bathroom1.jpeg") no-repeat center;
}
div#th6 {
	position: absolute;
	top: 320px;
	left: 590px;
	background: url("../images/house1/porch1.jpeg") no-repeat center;
}
/* GALLERY 2 */

div#th7 {
	position: absolute;
	top: 30px;
	left: 30px;
	background: url("../images/house2/livingroom2.jpeg") no-repeat center;
}
div#th8 {
	position: absolute;
	top: 30px;
	left: 310px;
	background: url("../images/house2/kitchen2.jpeg") no-repeat center;
}
div#th9 {
	position: absolute;
	top: 30px;
	left: 590px;
	background: url("../images/house2/diningroom2.jpeg") no-repeat center;
}
div#th10 {
	position: absolute;
	top: 320px;
	left: 30px;
	background: url("../images/house2/bedroom2.jpeg") no-repeat center;
}
div#th11 {
	position: absolute;
	top: 320px;
	left: 310px;
	background: url("../images/house2/bathroom2.jpeg") no-repeat center;
}
div#th12 {
	position: absolute;
	top: 320px;
	left: 590px;
	background: url("../images/house2/office2.jpeg") no-repeat center;
}
/* GALLERY 3 */

div#th13 {
	position: absolute;
	top: 30px;
	left: 30px;
	background: url("../images/house3/livingroom3.jpeg") no-repeat center;
}
div#th14 {
	position: absolute;
	top: 30px;
	left: 310px;
	background: url("../images/house3/kitchen3.jpeg") no-repeat center;
}
div#th15 {
	position: absolute;
	top: 30px;
	left: 590px;
	background: url("../images/house3/entry3.jpeg") no-repeat center;
}
div#th16 {
	position: absolute;
	top: 320px;
	left: 30px;
	background: url("../images/house3/bedroom3.jpeg") no-repeat center;
}
div#th17 {
	position: absolute;
	top: 320px;
	left: 310px;
	background: url("../images/house3/bathroom3.jpeg") no-repeat center;
}
div#th18 {
	position: absolute;
	top: 320px;
	left: 590px;
	background: url("../images/house3/office3.jpeg") no-repeat center;
}
/* GALLERY 4 */

div#th19 {
	position: absolute;
	top: 30px;
	left: 30px;
	background: url("../images/house4/livingroom4.jpeg") no-repeat center;
}
div#th20 {
	position: absolute;
	top: 30px;
	left: 310px;
	background: url("../images/house4/kitchen4.jpeg") no-repeat center;
}
div#th21 {
	position: absolute;
	top: 30px;
	left: 590px;
	background: url("../images/house4/diningroom4.jpeg") no-repeat center;
}
div#th22 {
	position: absolute;
	top: 320px;
	left: 30px;
	background: url("../images/house4/bedroom4.jpeg") no-repeat center;
}
div#th23 {
	position: absolute;
	top: 320px;
	left: 310px;
	background: url("../images/house4/bathroom4.jpeg") no-repeat center;
}
div#th24 {
	position: absolute;
	top: 320px;
	left: 590px;
	background: url("../images/house4/office4.jpeg") no-repeat center;
}
/* GALLERY 5 */

div#th25 {
	position: absolute;
	top: 30px;
	left: 30px;
	background: url("../images/house5/livingroom5.jpeg") no-repeat center;
}
div#th26 {
	position: absolute;
	top: 30px;
	left: 310px;
	background: url("../images/house5/kitchen5.jpeg") no-repeat center;
}
div#th27 {
	position: absolute;
	top: 30px;
	left: 590px;
	background: url("../images/house5/diningroom5.jpeg") no-repeat center;
}
div#th28 {
	position: absolute;
	top: 320px;
	left: 30px;
	background: url("../images/house5/bedroom5.jpeg") no-repeat center;
}
div#th29 {
	position: absolute;
	top: 320px;
	left: 310px;
	background: url("../images/house5/bathroom5.jpeg") no-repeat center;
}
div#th30 {
	position: absolute;
	top: 320px;
	left: 590px;
	background: url("../images/house5/office5.jpeg") no-repeat center;
}
/* GALLERY 6 */

div#th31 {
	position: absolute;
	top: 30px;
	left: 30px;
	background: url("../images/house6/livingroom6.jpeg") no-repeat center;
}
div#th32 {
	position: absolute;
	top: 30px;
	left: 310px;
	background: url("../images/house6/kitchen6.jpeg") no-repeat center;
}
div#th33 {
	position: absolute;
	top: 30px;
	left: 590px;
	background: url("../images/house6/diningroom6.jpeg") no-repeat center;
}
div#th34 {
	position: absolute;
	top: 320px;
	left: 30px;
	background: url("../images/house6/bedroom6.jpeg") no-repeat center;
}
div#th35 {
	position: absolute;
	top: 320px;
	left: 310px;
	background: url("../images/house6/bathroom6.jpeg") no-repeat center;
}
div#th36 {
	position: absolute;
	top: 320px;
	left: 590px;
	background: url("../images/house6/office6.jpeg") no-repeat center;
}












